.attention {
  $rgb: rgb(247, 120, 37) !global;

  .title-r {
    font-size: 16px;
    padding-left: 10px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
  }

  .logo {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 70px 70px;

    .item-r {

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .icon {
        display: flex;
        text-align: center;
        justify-content: center;
      }

      .name {
        font-size: 10px;
        text-align: center;
      }
    }
  }

}

.art, .friend-link {
  display: none;
}


